<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Index ruby_example</title>
</head>
<body>
<!-- evitar el DRY -->
<!-- ingresamos codigo ruby dentro del html -->
<% saludo = 'Hola mundo'%>
<!-- llamamos el codigo ruby para visualizarlo -->
<!-- con las etiquetas <%= %> obtenemos los valores de las variables o metodos -->
<h1><%= saludo%></h1>



	
</body>
</html>